<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class = "centrado">
  <div class="container position-relative w-75 p-3 shadow-lg p-3 mb-5 bg-white rounded">
      <p class="h1"> <b>  Conversor de Unidades de Fuerza</b></p>
    <div class="card">
      <div class="card-body">
          
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Cantidad a convertir</label>
              <input class="form-control form-control-lg" type="text" placeholder="Cantidad" #dato>
              <small id="emailHelp" class="form-text text-muted">Cantidad que se quiere convertir. Utilice el punto como separador decimal</small>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Convertir de</label>
              <select class="form-control form-control-lg" #unidaddato>
                <option>Dinas</option>
                <option>Newtons</option>
                <option>Libras</option>
              </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">A</label>
                <select class="form-control form-control-lg" #unidadconv>
                  <option>Dinas</option>
                  <option>Newtons</option>
                  <option>Libras</option>
                </select>
              </div>
            <div class="form-group">
                <button type="button" class="btn color-boton btn-lg btn-block"(click)="Convertir(dato.value,unidaddato.value,unidadconv.value)">Convertir</button>
            </div>


            <div class="card">
                <div class="card-body">
                  <p class="h5">Resultado:</p>
                  <p class="h5"> {{datoReceived.dat}} {{datoReceived.uni_dat}} equivalen a {{datoReceived.dat_conv}} {{datoReceived.uni_conv}}</p>
                </div>
            </div>


          </form>

      </div>   
    </div>
  </div>
</div>







